body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #f1f1f1;
  margin: 0;
  background-color: #1a1a1a;
}

header {
  background: linear-gradient(to right, #4b0082, #4C8BF5);
  color: #fff;
  padding: 1.5rem;
  display: flex;
  align-items: center; 
}


.profile-container {
  display: flex;
  justify-content: flex-start; 
  width: 10%; /* you can adjust this value to resize the image space */
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%; /* you can adjust this value to resize the titles space */
}


header h1 {
  margin: 0;
}

header h2 {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

main {
  padding: 2rem;
}

.profile-pic,
.team-icon {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
  margin: 0.5rem;
}

#summary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

#summary p {
  max-width: 60%;
}

h3 {
  border-bottom: 2px solid #4b0082;
  padding-bottom: 0.5rem;
}

section article {
  margin-bottom: 1.5rem;
}

section ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

section ul li {
  display: inline;
  background: linear-gradient(to right, #4b0082, #4C8BF5);
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem 0.25rem 0;
  border-radius: 5px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.links-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgba(75, 0, 130, 0.7); /* Semi-transparent indigo background */
  border-radius: 5px;
  padding: 0.5rem;
  z-index: 1; /* Add this line to raise the container above other elements */
  display: flex; /* Add this line to make the children align horizontally */
  align-items: center; /* Add this line to vertically align the children */
}

#language-switch {
  background-color: transparent;
  color: #f1f1f1;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 1rem;
  padding: 0.25rem 0.5rem;
}

/* Add this rule for hover effect on the language switch button */
#language-switch:hover {
  color: #4b0082;
}
.links-container a {
color: #f1f1f1;
text-decoration: none;
margin-left: 1rem;
}

.links-container a:hover {
  color: #4b0082;
}

.logo {
  width: 20px;
  height: auto;
  margin-right: 0.5rem;
  vertical-align: middle;
}

section ul ul {
  list-style-type: disc;
  margin-left: 1rem;
  margin-top: 1rem;
}

.skills-category {
  display: inline-block;
  vertical-align: top;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.skills-category:last-child {
  margin-right: 0;
}


.profile-pic {
  display: flex;
  align-items: center; /* This line will vertically align the items in the center. Remove if not needed. */
}

#profile-pic {
  margin-right: 20px; /* Adjust the margin as needed. */
}
